/* 基本资料 */
.item {
    width: 350px;
    margin: 0 128px 40px 0;
    display: inline-block;
    position: relative;
}

.item p {
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 10px;
    display: block;
    position: relative;
}
.item.warning p::after {
    position: absolute;
    right: 18px;
    top: 40px;
    width: 20px;
    height: 20px;
    content: ' ';
    background: url(/images/content_icon.png) -60px 0 no-repeat;
}
.item.success p::after {
    position: absolute;
    right: 18px;
    top: 40px;
    width: 20px;
    height: 20px;
    content: ' ';
    background: url(/images/content_icon.png) -29px 0 no-repeat;
}
.item.select-box p::after {
    position: absolute;
    right: 3px;
    top: 46px;
    width: 10px;
    height: 7px;
    padding-right: 10px;
    content: ' ';
    background: url(/images/content_icon.png) -96px -6px no-repeat;
    background-color: #fff;
}

.item input,
.item select,
.item .input-div {
    width: 100%;
    height: 46px;
    border: 1px solid #e5e5e5;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 16px;
    color: #333;
}
.item input:focus {
    border-color: #ff5722;
    outline: none;
}
.item.warning input {
    border-color: #a93535;
}
.item.success input {
    border-color: #35a947;
}
.item select option  {
    line-height: 40px;
}
.item .input-div {
    line-height: 46px;
    background-color: #f4f4f4;
}
.item span {
    font-size: 14px;
    color: #a93535;
    display: none;
    position: absolute;
    bottom: -24px;
    left: 23px;
}
.item.warning span {
    display: block;
}

.item.idcard-box {
    width: 900px;
}

.item .idcard .card-item {
    width: 370px;
    height: 210px;
    border: 1px dashed #e5e5e5;
    float: left;
    position: relative;
    cursor: pointer;
}
.item .idcard .card-item.back {
    margin-left: 110px;
}

.item .idcard b {
    width: 100%;
    line-height: 210px;
    text-align: center;
    display: block;
    font-size: 20px;
    color: #636363;
    position: absolute;
    top: 0;
    left: 0;
}

.item .idcard input {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.item .idcard .card-item .file {
    width: 329px;
    height: 185px;
    margin: 12px auto;
    background: url(/images/idcard.png) 0 0 no-repeat;
    opacity: 0.7;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.item .idcard .card-item.back .file {
    background: url(/images/idcard.png) -486px 0 no-repeat;
}
.item .idcard .card-item:hover .file {
    opacity: 1;
}
.item .idcard .card-item .file img {
    width: 100%;
    height: 100%;
}

.submit-a {
    width: 191px;
    height: 42px;
    line-height: 42px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #ca3a26;
    color: #fff;
    display: block;
}

/* 银行资料 */
.box.brank .top-box,
.box.deposit .top-box {
    background-color: #345483;
}

.box.brank .idcard .card-item .file {
    background-position-y: -259px;
}

/* 在线存款 */
.box.deposit .fl {
    width: 490px;
}

.box.deposit .fl .item {
    width: 400px;
    margin: 0 auto 24px;
    display: block;
}

.box.deposit .fl .item .item {
    width: 180px;
    float: left;
    margin: 0;
}
.box.deposit .fl .item .item.rmb {
    width: 203px;
    margin-left: 17px;
}
.box.deposit .fl .item .item::after {
    position: absolute;
    left: 20px;
    top: 26px;
    width: 16px;
    height: 46px;
    content: '$';
    font-size: 16px;
    line-height: 46px;
    color: #333;
}
.box.deposit .fl .item .item.rmb::after {
    content: '$';
}

.box.deposit .fl .item .item div {
    padding-left: 50px;
    line-height: 44px;
}
.box.deposit .fl .item .item.usd div {
    background-color: #fff;
}

.box.deposit .fl .next-a {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 398px;
    height: 66px;
    line-height: 66px;
    font-size: 18px;
    color: #fff;
    display: block;
    margin: 30px auto 20px;
    text-align: center;
    background-color: #35a947;
}

.box.deposit .fl .policy-a {
    width: 56px;
    font-size: 14px;
    color: #8d8d8d;
    display: block;
    margin: 0 auto 40px;
    border-bottom: 1px solid #8d8d8d;
}

.box.deposit .fl i.icon {
    width: 474px;
    height: 40px;
    display: block;
    margin: 0 auto;
    background: url(/images/deposit_img.png) no-repeat center;
}
