/* 银行资料 */
.box.brank .top-box,
.box.deposit .top-box {
    background-color: #345483;
}

.box.brank .item.brankName input {
    display: none;
    position: absolute;
    top: 26px;
    left: 0;
}

.box.brank .idcard .card-item .file {
    background-position-y: -259px;
}

/* 在线存款 */
.box.deposit {
    position: relative;
}
.box.deposit .fl {
    width: 490px;
}

.box.deposit .fl .item {
    width: 400px;
    margin: 0 auto 24px;
    display: block;
}

.box.deposit .fl .item .item {
    width: 180px;
    float: left;
    margin: 0;
}
.box.deposit .fl .item .item.rmb {
    width: 203px;
    margin-left: 17px;
}
.box.deposit .fl .item .item::after {
    position: absolute;
    left: 20px;
    top: 26px;
    width: 16px;
    height: 46px;
    content: '$';
    font-size: 16px;
    line-height: 46px;
    color: #333;
}
.box.deposit .fl .item .item.rmb::after {
    content: '￥';
}

.box.deposit .fl .item .item div {
    padding-left: 50px;
    line-height: 44px;
}

.box.deposit .fl .item .item.usd {
    position: relative;
}
.box.deposit .fl .item .item.usd.warning p::after {
    display: none;
}
.box.deposit .fl .item .item.usd input {
    position: absolute;
    left: 0;
    top: 26px;
    padding-left: 50px;
}

.box.deposit .fl .btn-a {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 398px;
    height: 66px;
    line-height: 66px;
    font-size: 18px;
    color: #fff;
    display: block;
    margin: 30px auto 20px;
    text-align: center;
    background-color: #35a947;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.box.deposit .fl .btn-a:hover {
    background-color: #2d903c;
}

.box.deposit .fl .policy-a {
    width: 56px;
    font-size: 14px;
    color: #8d8d8d;
    display: block;
    margin: 0 auto 40px;
    border-bottom: 1px solid #8d8d8d;
}

.box.deposit .fl i.icon {
    width: 474px;
    height: 40px;
    display: block;
    margin: 0 auto;
    background: url(/images/deposit_img.png) no-repeat center;
}

.box.deposit .item.chose {
    width: 380px;
    margin-left: 56px;
}
@media screen and (max-width: 1679px){
    .box.deposit .item.chose {
        margin-right: 5px;
    }
    .box.deposit .pop-box {
        margin-right: 68px;
    }
}
.box.deposit .item.chose .chose-list {
    border: 1px solid #e5e5e5;
    padding: 26px 22px 0 25px;
    box-sizing: border-box;
}

.box.deposit .item.chose .chose-list .input-div {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
    cursor: pointer;
}
.box.deposit .item.chose .chose-list .input-div.active {
    background-color: #df4425;
    color: #fff;
    border-color: #df4425;
}
.box.deposit .item.chose .chose-list .input-div:hover {
    border-color: #df4425;
}
.box.deposit .item.chose .chose-list .input-div i {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 34px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.box.deposit .item.chose .chose-list .input-div.active i {
    width: 14px;
    height: 14px;
    border: 4px solid #fff;
}

.box.deposit .pop-box {
    position: absolute;
    top: 95px;
    left: 68px;
    z-index: 3;
    max-width: 1072px;
    border: 1px solid #345483;
    padding: 24px 124px 60px 120px;
    box-sizing: border-box;
    background-color: #fff;
    display: none;
}
.box.deposit .pop-box i.close-btn {
    width: 19px;
    height: 19px;
    display: inline-block;
    position: absolute;
    top: 26px;
    right: 42px;
    background: url(/images/content_icon.png) -119px -1px no-repeat;
}

.box.deposit .pop-box h5 {
    font-size: 20px;
    color: #333;
    display: block;
    text-align: center;
}

.box.deposit .pop-box .pop-content {
    margin-top: 48px;
}
.box.deposit .pop-box .pop-content p {
    font-size: 16px;
    color: #4a4a4a;
    line-height: 30px;
}

/* 极速取款 */
.box.draw .top-box {
    background:#bc3326; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(left, #bc3326, #df4425);  
    background:-webkit-gradient(linear,left 0, right 0, from(#bc3326), to(#df4425));  
    background:-o-linear-gradient(left, #bc3326, #df4425);
}

.box.draw .content-box .fl {
    float: initial;
    margin: 0 auto;
}

.box.draw .content-box .fl .btn-div {
    text-align: center;
}
.box.draw .content-box .fl .btn-a {
    width: 190px;
    display: inline-block;
}
.box.draw .content-box .fl .btn-a.reset-a {
    background-color: #a7a7a7;
    margin-right: 20px;
}
.box.draw .content-box .fl .btn-a.reset-a:hover {
    background-color: #bfbfbf;
}

.box.draw .content-box .fl .item .item .input-div,
.box.draw .content-box .fl .item .item.rmb::after {
    color: #ff5722;
}


/* 修改密码 */
.box.reset .item {
    width: 100%;
    display: block;
}

.box.reset .item p {
    display: inline-block;
    width: 74px;
    height: 46px;
    line-height: 46px;
    margin: 0 23px 0 0;
    font-size: 14px;
    color: #333;
    text-align: right;
}

.box.reset .item input {
    width: 285px;
}
.box.reset .item.success p::after,
.box.reset .item.warning p::after {
    /* right: -298px;
    top: 12px; */
    display: none;
}
.box.reset .item.warning span {
    left: 108px;
}


.box.reset .item .tip {
    margin-left: 18px;
    display: inline-block;
}
.box.reset .item .tip i {
    display: inline-block;
    font-size: 12px;
    color: #999;
    font-style: normal;
    line-height: 46px;
    margin-right: 10px;
}

.box.reset .item .tip ul {
    width: 126px;
    height: 8px;
    border: 1px solid #d2d2d2;
    display: inline-block;
    padding: 1px;
    box-sizing: border-box;
}
.box.reset .item .tip ul li {
    width: 40px;
    height: 4px;
    float: left;
    background-color: #eee;
}
.box.reset .item .tip ul li:nth-child(2) {
    margin: 0 1px;
}

.box.reset a.next-a {
    width: 285px;
    height: 46px;
    line-height: 46px;
    background-color: #35a947;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-left: 99px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.box.reset .success-reset {
    width: 477px;
    padding-top: 68px;
    display: none;
}

.box.reset .success-reset i {
    width: 64px;
    height: 65px;
    display: block;
    margin: 0 auto 36px;
    background: url(/images/pwd_icon.png) no-repeat center;
}
.box.reset .success-reset p {
    text-align: center;
    font-size: 14px;
}
.box.reset .success-reset p span {
    color: #333;
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #b0b0b0; 
}
.box.reset .success-reset p a {
    color: #2d8fe9;
}